body {
    background-color: rgb(255, 155, 213);
    background-repeat: repeat-y;
    background-image: url('../img/Background.jpg');
    background-size: 130%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: rgba(241, 117, 200, 0.514);
    padding: 10px;
}

.logo img {
    max-width: 15%;
    height: auto;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.cabecalho{
    padding: 3%;
}

.rodape {
    background-color: rgba(241, 117, 200, 0.514);
    color: rgb(0, 0, 0);
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

.titulos {
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

.caixa-imagem {
    text-align: center;
    margin-top: 1%;
}

figure {
    text-align: center;
    display: inline-block;
}

figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

}

h1 {
    border: 2px solid rgb(255, 0, 128);
    background-color: rgba(241, 117, 200, 0.521);
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 8%;
    right: 20%;
    color: rgb(255, 0, 128);
    font-size: 12em;
}

p, li{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-left: 20%;
    max-width: 60%;
    font-size: 1.5em;
}

h2, h3{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

nav {
    background: #f8f8f8;
    padding: 1rem;
}

nav a {
    margin: 0 1rem;
    color: #333;
    text-decoration: none;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    text-align: center;
    background-color: rgb(241, 117, 200);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
}

figure figcaption {
    margin: 1.0em;
    text-align: center;
    color: black;
}