body {
    background-color: rgb(255, 155, 213);
    background-repeat: repeat-y;
    background-image: url('../img/Background.jpg');
    background-size: 130%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 155, 213, 0.521);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    background-color: rgba(255, 155, 213, 0.322);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #f876e2b2;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {

    container h1 {
        up: 100px
    }

    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 155, 213);
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }
    
    nav ul li label {
        width: 100%;
        display: block;
    }
}

footer{
    padding: 3%;
}

.logo img {
    max-width: 100%;
    height: 50px;
}

h1 {
    border: 2px solid rgb(255, 0, 128);
    background-color: rgba(241, 117, 200, 0.521);
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    right: 15%;
    color: rgb(255, 0, 128);
    font-size: 12em;
}

p, li{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-left: 20%;
    max-width: 60%;
    font-size: 1.5em;
}

h2, h3{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

nav {
    background: #f8f8f800;
    padding: 1rem;
}

nav a {
    margin: 0 1rem;
    color: #333;
    text-decoration: none;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
}

figure figcaption {
    margin: 1.0em;
    text-align: center;
    color: black;
} 

.caixa-imagem{
    text-align: center;
    margin-top: 1%;    
}
